.card {
  margin: 50px;
  
}
.card-text {
  padding:50px;
}
.editCoverage {
  color: #17a2b8;
  background:none;
  border:none; 
  padding:20px;
  cursor: pointer;
}
.card-footer {
  background-color: white;
  text-align: center;
}
.column-value,.column-value {
  width:50%;
}
.column-value {
  text-align: right;
}
label {
  display: block;
}
.btn {
  width: 25%;
  height: 50px;
}
.rbtn {
  width: 50%;
  height: 50px;
}
.changes {
  float: right;
}
 h2 {
   margin: 50px;
 }